@media screen and (max-width: 800px) {
    .layout{
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .layout{
        width: 50%;
    }
}


.layout{
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    padding: 2vh 2vh 0 2vh;
    margin: 2vh 0;
}

.header{
    text-align: center;
}

.date{
    text-align: right;
    margin-top: 2vh;
}