@media screen and (max-width: 800px) {
    .img{
        display: none;
        padding: 0;
    }

    .form{
        width: 100%;
    }

    .form button{
        width: 100%;
        padding: 3vh 0;
    }
}

@media screen and (min-width: 800px) {
    .img{
        width: 50%;
    }

    .img img{
        width: 100%;
    }

    .form{
        width: 50%
    }
}

.layout{
    color: white;
    background-color: #3e94d1;
    border-radius: 10px;
    border: 2px solid #a9a9a9;
}

.layout span{
    padding: 4vh 4vw;
}

.header{
    text-align: center;
    font-size: 3vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
