@media screen and (max-width: 800px){
    .number{
        display: none;
    }

    .left h1{
        width: 100%;
    }
}


.layout{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2vw;

    background-color: #0a64a4;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 25%;
}

.right{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.link{
    margin: 0 1vw;
}